<h1>All avaliable dishes</h1>
<div class="container">
  <div class="row">


<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Item Description</th>
      <th>Item Catagory</th>
      <th>Item Price</th>
      <th>Item Available Quanity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of datas">
      <td>{{group.mealName}}</td>
      <td>{{group.mealDescription}}</td>
      <td>{{group.mealCatagory}}</td>
      <td>{{group.unitPrice}}</td>
      <td>{{group.totalQuantity}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>